// Colors

// Primary colors (these are used throughout)
// Naming convention: $color-{colorName}-{variant}

$color-black: #000;

$color-charcoal: lighten($color-black, 13.33); // #222222
$color-smoke: lighten($color-black, 33.33); // #555555;
$color-smog: lighten($color-black, 53.33); // #888888;
$color-silver: lighten($color-black, 86.27); // #dcdcdc;
$color-silver-secondary: darken($color-silver, 15.29); // #b5b5b5;
$color-white-smoke: lighten($color-black, 93.73); // #f0f0ee;

$color-white: #fff;

$color-blue-sky: #0595db;
$color-blue-mendix: #1780b9;
$color-blue-cobalt: #0e61af;
$color-blue-dark: #2d3e4e;

$color-purple: #bc5cec;

$color-green-tulip: #76ca02;

$color-red: #ea202d;

$color-orange-goldfish: #f99b1d;

$color-yellow: #f8e71c;

// Color naming
// Naming convention: $color-n-{name}

$color-n-developer-blue: $color-blue-dark;
$color-n-link-color: $color-blue-sky;

// Fprum colors:

// $color: #222222;
// $color: #F8F8F8;
// $color: #0595DB;
// $color: #036290;
// $color: #DCDCDC;
// $color: #FFFFFF;
// $color: #EEEEEE;
// $color: #EA202D;
// $color: #F0F0EE;
// $color: #76CA02;
// $color: #48B0F7;
// $color: #F99B1D;
// $color: #000000;
// $color: #D8D8D3;
// $color: #0473A9;
// $color: #090909;
// $color: #3C3C3C;
// //$color: #59980;
// $color: #179BF5;
// $color: #DD8106;
// $color: #C4131E;
// $color: #E6E6E6;
// $color: #999999;
// $color: #EFF0F2;
// $color: #26323D;
// $color: #DBDCDD;
// $color: #4280CB;
// $color: #FCFCFC;
// $color: #B0B0B0;
// $color: #CCCCCC;
// $color: #AAAAAA;
// $color: #66AFE9;
// $color: #EBEBEB;
// $color: #2C2C2C;
// $color: #363636;
// $color: #181818;
// $color: #666666;
// $color: #E9E9E9;
// $color: #F9F9F9;
// $color: #333333;
// $color: #888888;
// $color: #DDDDDD;
// $color: #555555;
// $color: #035177;
// $color: #C5C5C5;
// $color: #73C502;
// $color: #C8C6C6;
// $color: #141412;
// $color: #2D3E4E;
// $color: #B5B5B5;
// $color: #959DA5;
// $color: #D7D7D7;
// $color: #74CA24;
// $color: #D4ECF8;
// $color: #FFEFD8;
// $color: #E4E4E4;
// $color: #EDEDED;
// $color: #3D85B5;
