$size-font-base: 14px;
$size-font-large: $size-font-base + 2;
$size-font-small: $size-font-base - 2;

$font-family-base: 'Open Sans', sans-serif;
$font-family-san-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;
$font-family-mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

$font-weight-light:     300;
$font-weight-normal:    400;
$font-weight-semibold:  600;
$font-weight-bold:      700;

$font-size-h1: 48px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 11px;

$font-size-normal:  14px;
$font-size-small:   12px;
$font-size-big:     16px;

$font-weight-headers: normal;
