@mixin set-font($size, $color: $color-smoke, $family: $font-family-san-serif, $line-height: false) {
    &,
    & > * {
        color: $color;
        font-family: $family;
        font-size: $size;
        @if $line-height != false {
            line-height: $line-height;
        }
        margin: 0;
    }
}

@mixin font-weight-light {
    font-weight: $font-weight-light;
}
@mixin font-weight-normal {
    font-weight: $font-weight-normal;
}
@mixin font-weight-semibold {
    font-weight: $font-weight-semibold;
}
@mixin font-weight-bold {
    font-weight: $font-weight-bold;
}

.text-header-1 {
    @include set-font(
        $font-size-h1,
        $color-blue-sky,
        $font-family-san-serif,
        64px
    )
    @include font-weight-light;
}

.text-header-2 {
    @include set-font(
        $font-size-h2,
        $color-smoke,
        $font-family-san-serif,
        48px
    )
    @include font-weight-light;
}

.text-header-3 {
    @include set-font(
        $font-size-h3,
        $color-smoke,
        $font-family-san-serif,
        64px
    )
}

.text-header-4 {
    @include set-font(
        $font-size-h4,
        $color-smoke,
        $font-family-san-serif,
        64px
    )
}

.text-header-5 {
    @include set-font(
        $font-size-h5,
        $color-smoke,
        $font-family-san-serif,
        64px
    )
    @include font-weight-semibold;
}

.text-header-6 {
    font-size: $font-size-h6
}

.text-paragraph-normal {
    @include set-font(
        $font-size-normal,
        $color-smoke,
        $font-family-san-serif,
        24px
    )
}

.text-paragraph-small {
    @include set-font(
        $font-size-small,
        $color-smoke,
        $font-family-san-serif,
        24px
    )
}

.text-paragraph-large {
    @include set-font(
        $font-size-big,
        $color-smoke,
        $font-family-san-serif,
        24px
    )
}

.link {
    &,
    &.mx-link {
        color: $color-blue-sky;

        &:visited {
            color: darken($color-blue-sky, 20%);
        }
    }
}

.no-focus {
    &.active,
    &.btn,
    &.btn.active,
    &.mx-focus {
        &,
        &:focus {
            outline: none;
        }
    }
}
